.link {
    @apply cursor-pointer;
    @apply relative;
    &:hover > .content {
        @apply flex;
        @apply opacity-100; /* Ensure this is visible on hover */
    }
}

.image-container {
    @apply w-48;
    @apply h-48;
    @apply lg:w-60;
    @apply lg:h-60;
    @apply backdrop-opacity-10;
    @apply overflow-hidden;
    @apply mx-auto;
    @apply my-4;
}

.image {
    @apply object-cover;
    @apply relative;
    @apply rounded-md;
}

.content {
    @apply absolute;
    @apply inset-0;
    @apply m-auto;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    @apply bg-it-dark-800;
    @apply bg-opacity-90;
    @apply px-4;
    @apply opacity-0; /* Start hidden */
    @apply transition-opacity;
    @apply duration-300;
    @apply ease-in-out;
    width: 15rem;
    height: 15rem;
    transform: translate(0px, 8px);

    .title {
        @apply font-bold;
        @apply text-it-light-200;
    }

    .isPortfolioPage {
        width: 95% !important;
    }

    .description {
        @apply text-it-light-700;
    }
}
