/* @import 'lightgallery/scss/lightgallery.scss'; */
/* @import 'lightgallery/scss/lg-zoom.scss'; */
.title {
    @apply font-ProximaNovaBold;
    @apply text-2xl;
    @apply lg:text-5xl;
    @apply w-full;
    @apply text-left;
    @apply lg:text-center;
    @apply uppercase;
}

.status {
    @apply text-sm;
    @apply font-ProximaNovaBold;
    @apply tracking-wide;
    @apply my-4;
}

.content {
    @apply flex;
    @apply flex-col;
    @apply lg:flex-row;
    @apply justify-between;
    @apply items-start;
    @apply lg:items-center;

    .stack {  
        @apply relative;
        @apply z-50;
        @apply text-center; 
        @apply p-4;

        &::before {
            content: '';
            @apply absolute;
            @apply top-0;
            @apply left-0;
            @apply w-full;
            @apply h-full;
            @apply bg-primary;
            @apply bg-opacity-80;
            @apply rounded-lg;
            @apply p-4;
        }
        .head {
            @apply font-bold;
            @apply uppercase;
            @apply text-center;
            @apply text-secondary;
            @apply relative;
            @apply mb-4;
        }

        .list {
          @apply grid;
          @apply grid-cols-3;
          @apply lg:grid-cols-4;
          @apply gap-3 ;
          @apply relative;
          @apply cursor-pointer;

          .title {
            @apply font-ProximaNovaBold;
            @apply leading-4;
            @apply text-center;
            @apply tracking-tight;
            font-size: 10px;
          }

        }
    }
    .summary {
        @apply my-4;
        @apply lg:mt-0;
        .head {
            @apply font-bold;
            @apply uppercase;
        }
    }
}

.gallery {
    @apply bg-[#1a1a1a];
    @apply pt-10;
    @apply pb-16;
    @apply mx-auto;
    @apply w-full;
}

.details {
    @apply text-left;
    @apply tracking-tight;
    @apply my-4;
    @apply px-2;
    @apply md:px-0;
    @apply lg:my-16;
    @apply lg:text-center;
    @apply max-w-xs;
    @apply mx-auto;

    .head {
        @apply font-bold;
        @apply text-xl;
        @apply uppercase;
        @apply my-2;
    }
}

.testimonial {
    @apply text-left;
    @apply tracking-tight;
    @apply my-4;
    @apply px-2;
    @apply md:px-0;
    @apply lg:my-16;
    @apply lg:text-center;
    @apply max-w-xs;
    @apply mx-auto;
    .head {
        @apply font-bold;
        @apply text-xl;
        @apply uppercase;
        @apply my-2;
    }
}

.image-container {
    @apply relative;
    @apply overflow-hidden;
    @apply w-full;
    height: calc(90vh - 108px);

    &:before {
        content: '';
        @apply absolute;
        @apply bg-primary;
        @apply w-full;
        @apply h-full;
        @apply top-0;
        @apply left-0;
        @apply z-10;
        @apply bg-opacity-80;
    }
}

.url {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply py-4;
    @apply bg-secondary-light;
    @apply text-primary-light;
    @apply max-w-xs;
    @apply mx-auto;
    @apply rounded-md;
    @apply uppercase;
    @apply font-ProximaNovaBold;
    @apply text-xs;
    @apply cursor-pointer;
    @apply tracking-wide;
    @apply transition-all;
    @apply delay-100;
    @apply ease-in;
    @apply hover:transform;
    @apply hover:scale-105;
}
